.heading > input {
    border : none;
    margin: 1px;
    margin-top:0;
}
.heading {
    padding: 0;
}
.note {
    margin-top:0;   
}
.heading > input:focus {
    outline : 2px solid grey;
}
.content > input {
    border: none;
    overflow-y: visible;
    overflow-x: visible;
}
.content > input:focus {
    outline: olive;
}
.content > textarea {
    resize: none;
    height: 90px;
    width: 90%;
}
.content > textarea:focus {
    outline: 2px solid grey;
}