.note {
    color:white;
    border: 2px solid white;
    margin:1%;
    border: 2px solid black;
}
.heading {
    font-size: 1.4em;
    background-color: orange;
    padding: 3%;
}
.content {
    font-size: 0.8em;
    background-color: orange;
    padding: 3%;
}

.note hr {
    border-top: 1px dashed black;
}